body {
  font-family: Courier, monospace, "Courier New";
}
.calculator {
  padding: 20px;
  width: 350px;
  border: solid 1px lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.screen {
  margin: 2px;
  width: 300px;
  border: solid 1px lightgray;
  border-radius: 10px;
  padding: 2px 20px;

  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  small {
    font-size: 13px;
  }
  p {
    font-size: 20px;
    font-weight: bolder;
  }
}
.divRow {
  display: flex;
  justify-content: center;
  button {
    width: 70px;
    height: 45px;
    border: none;
    margin: 2px;
    border-radius: 10px;
    outline: none;
    &:hover {
      font-size: 20px;
      background-color: rgb(133, 224, 220);
    }
  }
}
.background-color-darkGray {
  background-color: #dfe1e5;
}
.background-color-lightGray {
  background-color: #f1f3f4;
}
.background-color-lightBlue {
  background-color: lightblue;
}
